<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/styles/windstorm/style1.css' />
</head>

<body style="background-color: #f9f7e8">
    <div style="height:200px">

    </div>
    <div style="margin:0 auto;width: 40%;opacity:0.8;">
        <div style="width:87%;float:left">
            <input type="text" id="search" style="width:100%;height: 30px;outline:none;">
        </div>
        <div>
            <input type="submit" id="jiansuo" value="检  索" style="width:12%;height: 36px;outline:none;">
        </div>
    </div>
    <div style="height: 300px">

    </div>
    <div style="margin: 0 auto;width:50%;text-align: center;opacity: 0.8">
        <p>支 持 趣 笔 阁 / 2 9 小 说 等 网 站 URL</p>
        <p>Windstorm ！</p>
    </div>
</body>
<script type="text/javascript" src="/js/package/jquery.js"></script>
<script type="text/javascript" src="/js/windstorm/home.js"></script>

</html>