<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/windstorm/style.css' />
    <style type="text/css">
    a{margin-left: 20px; text-decoration: none;}
    a:hover{text-decoration: underline;}
    </style>
  </head>
  <body style="background-color: #f9f7e8">
    <p><%= name %> 欢迎您</p>
    <input type="submit" value="注销" id= "logout"/>
    <input type="submit" value="返回" id= "return"/>
  </body>
  <script type="text/javascript" src="js/package/jquery.js"></script>
  <script type="text/javascript" src="js/windstorm/logout.js"></script>
</html>
