<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/styles/windstorm/style.css' />
</head>

<body style="background-color: #f9f7e8">
  <input type="submit" value="继续观看" id="sub" />
  <a href="/logout" style="float:right"> 注销 </a>
  <br/> 
  <br/> 
  <br/> 
  <input type="submit" id="upstep1" class="pig" value="上一章">
  <input type="submit" id="nextstep1" class="pig" value="下一章">
  <p id = "content" style="font-size:30px"></p>
  <input type="submit" id="upstep2" class="pig" value="上一章">
  <input type="submit" id="nextstep2" class="pig" value="下一章">
</body>
<script type="text/javascript" src="/js/package/jquery.js"></script>
<script type="text/javascript" src="/js/windstorm/start.js"></script>

</html>